body {
  background-color: #ece4b7;
  height: 100vh;
  font-family: "Gluten", cursive;
  color: #272932;
}

h1 {
  color: #cc5144;
}

form {
  border: 2px solid #837569;
  padding: 1.5rem 3rem;
  border-radius: 12px;
  box-shadow: -3px -3px 10px #837569;
  background-color: whitesmoke;
}

header img {
  max-width: 75px;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ece4b7;
  color: #cc5144;
}

.loader img {
  max-width: 70px;
  animation: loading 2s linear infinite;
}

.hidden {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(45deg) scale(1);
  }

  50% {
    transform: rotate(-45deg) scale(1.2);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}
