body {
  background-color: #ece4b7;
  height: 100vh;
  font-family: "Gluten", cursive;
  color: #272932;
}

main {
  height: 100vh;
}

h1 {
  color: #cc5144;
}

form {
  border: 2px solid #837569;
  padding: 1.5rem 3rem;
  border-radius: 12px;
  box-shadow: -3px -3px 10px #837569;
  background-color: whitesmoke;
}
